// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  
  .profile {
  	border-right: 2 solid;
  	border-bottom: 2 solid transparent;
  //	@include border(right, 2, solid, #FF0000);
  }
  
  .top-header, .bottom-footer{
  	@include linear-gradient(0deg, #B0B0B0, #D6D6D6);
  }
  
  .search-field {
  		border-radius: 15px;
  	}
 
  	.v-margin-top {
		padding-top: 0px;
 	 }

	.v-margin-right {
		padding-right: 0px;
	}

	.v-margin-bottom {
		padding-bottom: 0px;
	}

	.v-margin-left {
		padding-left: 0px;
	}

    .bugrap-padding {
  		padding: 10px;
  }
    
 .bugrap-btn {
 	border: none;
  	border-radius: 0;	
  	background: none;	
  	height: 25px;
  	box-shadow: none;
 }

.bugrap-selector .v-select-select{
		box-shadow: none;
		background: none;	
		border: none;
	}

.bugrap-selector .v-select-select:focus{
		box-shadow: none;
		background: none;	
		border: none;
	}

.bugrap-selector-bold .v-select-select{
	font-weight: bold;
	}
 
 .bugrap-border-right{
 	    border-right: 1px solid;

 }

	.bugrap-badge{
		background: #919191;
		border: none;
		color: white;
		border-radius: 10px;
		font-weight: bold;
		text-align: center;
	}

.v-select {
    border: none;
}
.bugrap-filter-btn{
	height: 25px;
	border-radius: 0px;
	background: #EAEAEA;
	}

.bugrap-filter-btn.v-disabled, .bugrap-filter-btn.v-button-toggled{
	opacity: 1.0;
	filter: alpha(opacity=100) ;
	@include linear-gradient(0deg, #A0A0A0, #7C7C7C);
	color: white;
	}

.bugrap-filter-right-btn{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;	
	}

.bugrap-filter-left-btn{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;	
	}
 
.bugrap-report-name{
	font-weight: bold;
}

.bugrap-properties-style{
	@include linear-gradient(0deg, #CBCBCB, #EBEBEB);
	padding: 10px;
	}

 .v-grid-cell.frozen {
	display: none;
}

.bugrap-comment-section{
	padding-left: 10px;
	}

.bugrap-comment-message{
	color: black;
	white-space: pre;
	}

.bugrap-comment-user{
	color: #919191;
	}

.bugrap-searchfield{
		padding: 5px;
		border-style: solid;
    	border-width: 1px;
    	border-color: #919191;
		border-radius: 15px;
		background: white;
	}
.bugrap-searchfield-field{
		border: none;
		font-style: italic;
		background-color: transparent;
		box-shadow: none;
	}
.bugrap-searchfield-field:focus{
	outline: 0 !important;
	border: none;
	box-shadow: none;
	}

 .bugrap-searchfield-icon {
 	border: none;
  	border-radius: 0;	
  	background: none;	
  	box-shadow: none;
 }

.bugrap-searchfield-icon:focus{
	outline: 0 !important;
	border: none;
	box-shadow: none;
	}


.bugrap-searchfield-btn-margin{
	margin: 5px;
	padding: 5px;
	}

.bugrap-priority, bugrap-priority:before{
		margin: 1px;
		background-color: gray;
		width: 5px;
	}
 .bugrap-regular-btn {
  	border-radius: 10px;		
  	height: 25px;
 }

.bugrap-transparent {
	background: transparent;
	
	}

}
